:root {
  --grey: #3d3a4b;
  --pink: #cc4bc2;
  --white: #f6edcb;
  --salmon: #e16f7c;
  --yellow: #e5b769;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    "Noto Sans", sans-serif;

  margin: 1em;

  background-color: var(--grey);
  color: var(--white);
}
